<div class="row topRow">
  <div class="col-12"><h4 class="h4">To Do App</h4></div>
  <div class="col-sm-6 m-auto">
    <form
    #theForm="ngForm"
      id="myform"
      class="form-inline"
      (submit)="onSubmit(theForm)"
    >
      <div class="taskContainer">
        <div class="form-group fg">
          <label for="taskDescription">Task</label>
          <input
            type="text"
            class="form-control"
            name="taskDescription"
            placeholder="Enter Task Description"
            ngModel
            required
          />
        </div>
        <button class="btn btn-primary submit-btn mt-4" type="submit">
          Add
        </button>
      </div>
      <small
        [ngClass]="{'inVisible': theForm.valid}"
        class="form-text text-danger error"
        >Field is required.</small
      >
    </form>
  </div>
  <div class="col-sm-3 mt-4 pt-3 ml-5">
    <div class="input-group cn-btn">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">User :</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Select User</option>
      </select>
    </div>
  </div>

  <div class="col-sm-2  m-auto">
    <button type="button" class="btn btn-primary mt-1" data-toggle="modal" data-target="#createUserModal">Create New User</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 m-auto">
    <div class="blocks">
      <div
        class="block"
        [style.background]="block.color"
        *ngFor="let block of blocks"
      >
        <h5 class="blockTitle">{{ block.title }}</h5>
        <span class="blockContent">{{ getTasksCount(block.status) }}</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 m-auto">
    <div class="tablesDiv">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="row" class="w20">id</th>
            <th scope="row" class="w60">Task</th>
            <th scope="row" class="w20">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of TasksList">
            <td>{{ item.id }}</td>
            <td>
              <span style="margin: 0 6px;">
                <label class="switch">
                  <input
                    type="checkbox"
                    form="myform"
                    [checked]="false"
                    name="taskDescription"
                    #toggle
                    ngModel
                    [(value)]="toggleValue"
                    (change)="toggleVal(item, $event)"
                  />
                  <span class="slider round"></span>
                </label>
              </span>
              {{ item.task }}</td>
            <td>
              {{ item.status }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
